.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black,.8);
    z-index: 3000;
    transition: all .4s;

    opacity: 0;
    visibility: hidden;

    

    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black,.3);
    }

    //OPEN STATES
    &:target{
        visibility: visible;
        opacity: 1;
    }

    &:target &__content{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }



    //CLOSED STATES
    &__content{
        @include absCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black,.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%,-50%) scale(0);
        transition: all .5s .2s;

        @include respond(tab-land){
            width: 100%;
            display: block;
        }
    }

    &__left{
        width: 33.33333%;
        display: table-cell;

        @include respond(tab-land){
            width: 100%;
            padding: 2rem;
        }
    }

    &__right{
        width: 66.66666%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-land){
            width: 100%;
            display: block;
        }
    }

    &__img{
        display: block;
        width: 100%;

        @include respond(tab-land){
            width: 48%;
            height: 25rem;
            display: inline-block;
            margin: 0 auto;
        }

        @include respond(phoe){
            height: 12rem;
        }
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem;
        -moz-column-rule: 1px solid $color-grey-light-2;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 1.5rem;
            right: 3.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;

            @include respond(phone){
                right: 1.5rem;
            }
        }

        &:hover{
            color: $color-primary;
        }
    }
}